<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Let us know</h2>
  Bullying happens all the time throught every school in the world. No one should need to
  deal with this. Ever.<br>
  Please let us know about what you witnessed. You do not need to say who you are.<br><br>

  <div class="field">
    What happened?<br>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    Where did this happen?<br>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.datetime_select :time %>
  </div>

  <div class="field">
    <%= form.label :involved %>
    <%= form.text_area :involved %>
  </div>

  <div class="field">
    <%= form.label :resolved %>
    <%= form.check_box :resolved %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
