<%= form_with(model: report, local: true) do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
        <% report.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.nil? %>
  <h2>Let us know</h2>
  Bullying happens all the time thorough every school in the world. No one should need to
  deal with this. Ever.<br>
  Please let us know about what you witnessed. You do not need to say who you are.<br><br>
  <% end %>

  <div class="field">
    What happened?<br>
    <%= form.text_area :description , :class => 'form-control' %>
  </div>

  <div class="field">
    Where did this happen?<br>
    <%= form.text_field :location , :class => 'form-control' %>
  </div>

  <div class="field">
    When did this happen?<br>
    <%= form.datetime_select :time, class: 'form-control'%>
  </div>

  <div class="field"><br>
    Who was involved in this? Who would have seen it?<br>
    <%= form.text_area :involved, :class => 'form-control' %>
  </div>

  <div class="field <%= "d-none" if current_user.nil?%>">
    <%= form.label :resolved %>
    <%= form.check_box :resolved %>
  </div>

  <br>
  <br>
  <br>
  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
